.right{
    background-color: #444969;
    border: 1px solid #444969;
  }
  body{
    background-color: #252839;
  }
  .maincon{
    color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
  }
  .b{
    margin-left: 0.05in;
    color: white;
    background-color: red;
    border-radius: 0.05in;
  }
  .navbar{
    height: 10vh;
  }


  .item {
    width: 80%;
    text-align: center;
    margin-top: 1in;
  }


  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btnn {
    color: white;
    border: none;
    border-radius: 0.05in;
    margin-left: 40%;
  }
  .quantity{                                                                                          

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }                                                
  .quantity button{
    padding-left: 0.25in;
    padding-right: 0.25in;
    margin: 0.05in;
  }
  .quantity input{
    margin: 0.05in;
  }
  .make{
    margin-right:5px; 
    background-color: green;
  }
  .maincont {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: max-content;
    padding: 1.5em;
    border: 1px solid rgb(0, 0, 0, 0.7);
    border-radius: 0.1in;
  }
