
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Book List</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Requested On</th>
                        <th>Accepted On</th>
                        <th>Return</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .BorrowHistory}}
                    <tr ng-repeat="book in books">
                        <td>{{.Title}}</td>
                        <td>{{.Author}}</td>
                        <td>{{.Genre}}</td>
                        <td>{{.RequestDate}}</td>
                        <td>{{.AccepttDate}}</td>
                        <td>
                            <form>
                                <input type="hidden" name="bookid" value="{{.BookID}}">
                                <input type="submit" value="Return">
                            </form>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>